<configuration>
    <property resource="application.properties" />

    <appender name="FILEOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <file>${file.log}</file>
        <encoder>
            <pattern>%d{"yyyy-MM-dd HH:mm:ss.SSS"}  [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.file}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILEOUT"/>
    </root>
</configuration>